:root {
    --size: 5rem;
    --mcolor: #4edb39;
    --mpcolor: #4edb3950;
    --icolor: #4edb3990;
    --mocolor: #4edb3908;
}

body {
    background: black;
    color: snow;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.5s;
    margin: auto;
    color: snow;
}


/* SIGN */

.btn {
    padding: 0.8rem;
    border: none;
    border-radius: 1rem;
    background: var(--mocolor);
    text-align: center;
    color: var(--mcolor);
    font-weight: bolder;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    z-index: 15;
    animation: blink 3s infinite;
}

.btn:hover {
    animation-play-state: paused;
    opacity: 0;
    box-shadow: 0px 0px 0.5rem 0px var(--mcolor);
}

.signin {
    left: 80%;
}

.signup {
    left: 20%;
    animation-delay: 1.5s;
}


/* CUBE */

.cube {
    width: var(--size);
    height: var(--size);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    animation: spin 20s infinite linear;
    z-index: 15;
}

.cube:hover {
    animation-play-state: paused;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotateY(-90deg);
    }
    10% {
        transform: translate(-50%, -50%) rotateY(-90deg);
    }
    15% {
        transform: translate(-50%, -50%) rotateY(0deg);
    }
    25% {
        transform: translate(-50%, -50%) rotateY(0deg);
    }
    30% {
        transform: translate(-50%, -50%) rotateY(90deg);
    }
    40% {
        transform: translate(-50%, -50%) rotateY(90deg);
    }
    45% {
        transform: translate(-50%, -50%) rotateY(180deg);
    }
    55% {
        transform: translate(-50%, -50%) rotateY(180deg);
    }
    60% {
        transform: translate(-50%, -50%) rotateY(360deg) rotateX(90deg);
    }
    70% {
        transform: translate(-50%, -50%) rotateY(360deg) rotateX(90deg);
    }
    75% {
        transform: translate(-50%, -50%) rotateY(360deg) rotateX(-90deg);
    }
    85% {
        transform: translate(-50%, -50%) rotateY(360deg) rotateX(-90deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateY(-90deg);
    }
}

.cube-face {
    height: inherit;
    width: inherit;
    position: absolute;
    border: 1px solid var(--mcolor);
    border-radius: 0.5rem;
    background: var(--mocolor);
    box-shadow: 0px 0px 0.5rem 0px var(--mcolor) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 1em 0px var(--mcolor);
    /* animation: panim 10s infinite; */
}

.front {
    transform: translate3d(0, 0, calc(var(--size)/1.8));
}

.back {
    transform: rotateY(180deg) translate3d(0, 0, calc(var(--size)/1.8));
}

.left {
    transform: rotateY(-90deg) translate3d(0, 0, calc(var(--size)/1.8));
}

.right {
    transform: rotateY(90deg) translate3d(0, 0, calc(var(--size)/1.8));
}

.top {
    transform: rotateX(90deg) translate3d(0, 0, calc(var(--size)/1.8));
}

.bottom {
    transform: rotateX(-90deg) translate3d(0, 0, calc(var(--size)/1.8));
}


/* View panel */

.panel {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10vw;
    height: 10vh;
    overflow: hidden;
    border: 1px solid var(--mcolor);
    border-radius: 0.5rem;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    background: var(--mocolor);
    box-shadow: 0px 0px 0.5rem 0px var(--mcolor) inset;
    transition: 0.5s;
}

@keyframes panim {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.cube-face:hover .panel {
    opacity: 1 !important;
    width: 60vw !important;
    height: 60vh !important;
}

.info1 {
    position: absolute;
    left: 0rem;
    top: 0rem;
    height: 20%;
    width: 25%;
    background: var(--mocolor);
    box-shadow: 0px 0px 0.3rem 0px var(--mcolor) inset;
    border-radius: 0.1rem;
    border-bottom-right-radius: 110%;
    overflow: hidden;
    padding: 0.5rem;
    padding-right: 25%;
}

.info1 h2 {
    margin: 0rem;
}

#mobile {
    background: none;
    border: none;
    color: snow;
    outline: none;
}

.lock {
    position: absolute;
    left: auto;
    top: 5%;
    right: 5%;
    background: var(--mocolor);
    border-radius: 1rem;
    box-shadow: 0px 0px 0.5rem 0px var(--mcolor);
    padding: 0.1rem;
    border: 0.3rem solid var(--mocolor);
    cursor: pointer;
    z-index: 50;
    transition: 1s;
}

.ninfo2,
.info2 {
    position: absolute;
    left: auto;
    top: auto;
    right: 0rem;
    bottom: 0rem;
    height: 20%;
    width: 20%;
    background: var(--mocolor);
    box-shadow: 0px 0px 0.3rem 0px var(--mcolor);
    border-radius: 0.5rem;
    border-top-left-radius: 110%;
    padding: 0.5rem;
    padding-left: 30%;
    line-height: 150%;
    justify-content: space-around;
    text-align: right;
    overflow: hidden;
    z-index: 50;
}

.info3 {
    position: absolute;
    left: 5%;
    top: auto;
    bottom: 5%;
}

.content {
    font-size: 120%;
    text-align: justify;
}


/* Image circle */

.imgcircle {
    width: calc(var(--size)*2);
    height: calc(var(--size)*2);
    background: no-repeat center center fixed;
    padding: 0.1rem;
    border-radius: 100%;
    align-self: center;
    border: 0.5rem solid var(--mocolor);
}


/* Object panel */

.object {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    align-self: center;
}

.terminal {
    margin:0rem;
    margin-top: 5%;
    height: 95%;
    background: none;
    border: none;
    outline: none;
    color: snow;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 0px 0.2rem 0px var(--mcolor) inset;
    transition: 1s;
}


/* Typing effect */

.typing {
    /* color: var(--mcolor); */
    font-size: calc(var(--size)/4);
    font-style: italic;
}

.typing::before {
    content: "root# ";
    color: var(--mcolor);
    font-size: calc(var(--size)/3.5);
    font-weight: bold;
    /* animation: blink 0.3s step-end infinite; */
}

.typing::after {
    content: "|";
    color: var(--mcolor);
    font-size: calc(var(--size)/3.5);
    font-weight: bold;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}


/* Circuit */

.circuit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -10;
}

.path {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1;
    stroke-opacity: 0.5;
    fill: none;
    animation: sanim 5s infinite;
}

.shadow {
    stroke-dasharray: 5 180;
    filter: drop-shadow( 2px 2px 2px var(--mcolor));
}

@keyframes sanim {
    0% {
        stroke-dashoffset: 10;
    }
    100% {
        stroke-dashoffset: 190;
    }
}


/* Editor */

.buble {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.3rem;
    display: flex;
    align-items: center;
    border-radius: 100%;
    float: right;
    box-shadow: 0px 0px 0.2rem 0px var(--mcolor) inset;
    transform: scale(0.9);
    transition: 0.5s;
}

.icon {
    width: 2rem;
    height: 2rem;
    float: left;
    margin: 0.5rem;
}

.fold {
    width: 3rem;
    height: 3rem;
    float: left;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    fill: var(--icolor);
}

.factive,
.fold:hover {
    fill: var(--mcolor);
    box-shadow: 0px 0px 0.2rem 0px var(--mcolor) inset;
}

.show p {
    height: fit-content;
    padding: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 0.2rem 0px var(--mcolor) inset;
    width: fit-content;
}

.bubble svg path,
.icon path {
    animation-fill-mode: forwards;
    fill: var(--icolor);
}

.icon:hover path {
    fill: var(--mcolor);
}

.buble:hover {
    transform: scale(1);
}

/* Serach box */

.search{
    background: none;
    border: 1px solid var(--mpcolor);
    margin: auto;
    left: 1.5rem;
    border-radius: 1rem;
    bottom: 0.5rem;
    position: absolute;
    width: fit-content;
    padding: 0.4rem;
    overflow: hidden;
}

.searchbox{
    background: none;
    border: none;
    outline: none;
    color: snow;
    float: left;
    width: 0rem;
    border-bottom: 1px solid var(--mpcolor);
    margin: -1rem;
}
.searchbut{
    border: none;
    outline: none;
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
    float: right;
    background: none;
}

.searchbut .icon{
    margin: 0rem;
}

.search:hover input{
    width: 10rem;
    margin: 0.2rem;
}

/* InfooSploit other inputs */

h4{
    width: 100%;
    text-align: center;
    cursor:pointer;
}
.infopanel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.infoanim{
    position:absolute;
    display:flex;
    bottom: 4rem;
}

.infobox{
    width:0rem;
    height:15rem;
    overflow:auto;
    border-radius:0.3rem;
    box-shadow: 0px 0px 0.5rem 0px #4edb3950 inset;
    background:var(--mpcolor);
}
table {
    display: none;
    border: none;
    width: 100%;
    margin:0rem;
    transition: all 0.5s;
}
td,th {
    text-align: left;
    border: 1px solid #4edb3950;
    border-radius: 0.3rem;
    width: fit-content;
}
.arrow {
    border: solid var(--mcolor);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: sticky;
    left: 98%;
    transform: rotate(-45deg);
}
.arrowbox{
    border: solid var(--mcolor);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position:relative;
    transform: rotate(-45deg);
    left:0.5rem;
    cursor: pointer;
    z-index: 10;
}
::-webkit-scrollbar{
    width:0.2rem;
    height:0.2rem;
}
::-webkit-scrollbar-track{
    background:none;
}
::-webkit-scrollbar-thumb{
    background:#4edb3950;
    border-radius:0.3rem;
}

/* IPAD */

@media only screen and (max-width: 768px) {
    .info1,
    .info2,
    .ninfo2 {
        width: 50%;
    }
    .info1 {
        padding-right: 40%;
    }
    .info2,
    .ninfo2 {
        padding-left: 40%;
    }
}


/* MOBILE */

@media only screen and (max-width: 426px) {
    .info1,
    .info2,
    .ninfo2 {
        width: 50%;
    }
    .info1 {
        padding-right: 40%;
    }
    .info2,
    .ninfo2 {
        padding-left: 40%;
    }
    .imgcircle {
        width: calc(var(--size)*1.5);
        height: calc(var(--size)*1.5);
    }
    .cube-face:hover .panel {
        opacity: 1 !important;
        width: 80vw !important;
        height: 70vh !important;
    }
}